/*inicio de partial global*/

body {
    font-family: $fuente-texto;
    background-color: map-get($paleta-colores, color-principal);
    color: map-get($paleta-colores, color-cuartario);
}

nav {
    display: flex;
    align-items: flex-end;
}

p {
    color: map-get($paleta-colores, color-cuartario);
}

a {
    text-decoration: none;
    font-family: $fuente-enlaces;
}
/*fin de partial global*/